@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@font-face {
  font-family: Lemon;
  src: url(src/fonts/LemonTuesday.otf);
}

body {
  background-color: #f3f1f7;
  font-family: "Quicksand", sans-serif;
}

button,
input {
  font-family: "Quicksand", sans-serif;
}
